<div class="d-flex alihn-items-center justify-content-center mt-100">
    <img src="https://newchoice.com.br/wp-content/uploads/2019/02/email-enviado-com-sucesso-e1549033476706.gif"
        alt="Correo enviado exitosamente" height="300px">
</div>
<h4 class="text-center fs-3">Se ha enviado un codigo de confirmacion a tu email!</h4>