<section>
  <form action="/api/users/reset-password" method="POST" class="container form border rounded py-4 px-3">
    <h1 class="mb-2 text-center fs-5 fw-bold py-2 text-uppercase">Restablecer contraseña</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Ingrese su correo electronico"
        required>
    </div>
    <div class="mb-3">
      <label for="token" class="form-label">Codigo de confirmacion</label>
      <input type="text" class="form-control" name="token" id="token" placeholder="Ingrese codigo de confirmacion"
        required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Nueva contraseña</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn-ok text-uppercase fw-bold w-100">Restablecer contraseña</button>
    {{#if error}}
    <p class="text-danger">{{error}}</p>
    {{/if}}
  </form>
</section>