<section>
  <form action="/api/users/requestPasswordReset" method="POST" class="container border form rounded py-4 px-3">
    <h1 class="mb-2 text-center fs-5 fw-bold py-2 text-uppercase">Enviar email de verificacion</h1>
    <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese su correo electronico">
    </div>
    <button type="submit" class="btn-ok text-uppercase fw-bold w-100">Enviar</button>
    {{#if error}}
    <p class="text-danger">{{error}}</p>
    {{/if}}
  </form>
</section>