<nav class="container-fluid d-flex align-items-center justify-content-center navbar bg-dark">
  <div class="d-flex align-items-center justify-content-center gap-5">
    <p class="text-light fs-6 fw-semibold"><span class="fw-bold fs-6 text-success">Profesor: </span><br>Samuel Tocaimaza
    </p>
    <p class="text-light fs-6 fw-semibold"><span class="text-success fs-5 fw-bold">Comision:</span><br> #53130</p>
    <p class="fw-bold fs-6 text-light"><span class="text-success fs-6 fw-bold">TP Final:</span> <br>Programacion Backend
      CoderHouse</p>
    <p class="fw-bold fs-6 text-light"><span class="text-success fs-6 fw-bold">&copy; Desarrollado por</span><br>
      Gabriel Castro
      Ramírez 2024</p>
  </div>
</nav>